<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BestKart4u</display-name>
  <servlet>
    <servlet-name>productDetail</servlet-name>
    <jsp-file>/productList.jsp</jsp-file>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>com.retailshop.util.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FileUploader</display-name>
    <servlet-name>FileUploader</servlet-name>
    <servlet-class>com.retailshop.action.admin.AjaxUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploader</servlet-name>
    <url-pattern>/FileUploader</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
  <error-code>500</error-code>
  <location>/error.jsp</location>
</error-page>
<error-page>
  <error-code>503</error-code>
  <location>/error.jsp</location>
</error-page>

<error-page>
  <error-code>400</error-code>
  <location>/error.jsp</location>
</error-page>

<error-page>
  <error-code>404</error-code>
  <location>/error.jsp</location>
</error-page>
  
  <error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>/error.jsp</location>
</error-page>
  
</web-app>